#first-header {
    color: blue;
    text-align: center;
    font-size: 45px;
}

header-container{
    margin-bottom: 20px;
}

#second-header {
    position: absolute;
    top: 50px;
    left: 0;
    margin-bottom: 40px
}

#third-header {
    position: absolute;
    top: 50px;
    right: 0;
}

#second-header, #third-header {
    font-size: 22px
}

.animal-image {
    width: 200px;
    height: auto;
    display: block;
    margin-bottom: 5px;
}

#volunteer-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 40px;
    position: absolute;
    top: 50px;
    right: 0;
    width: 20%;
}

#volunteer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#animal-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#btn-group {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

#btn-group button {
    margin: 0 5px;
}

#money {
    position: fixed;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
}
