#first-header {
    color: blue;
    text-align: center;
    font-size: 45px;
}

header{
    position: relative;
}

#second-header {
    position: absolute;
    top: 50px;
    left: 0;
}

#third-header {
    position: absolute;
    top: 50px;
    right: 0;
}

#second-header, #third-header {
    font-size: 22px
}
